<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href='{% static "css_file/index.css"%}'/>

</head>
<body>
    <h1>{{ UserID }}</h1>
    <div class="front_view">
        <div class = "jump_url">
            <a href="{% url 'create' %}">新規作成</a>
            <a href="{% url 'random_views' %}">乱数使用</a>
            <a href="{% url 'Logout' %}">ログアウト</a>
        </div>
    </div>

    <div class = "url_form",style="display: block;">
        <div class = "url">
            <ul class = "grid" style="list-style: none; padding-left: 0;">
                {% for item in url_view %}
                        <li class = "list_url">
                            <div class="title">
                                <a href="{{ item.url }}">{{item.title}}</a>
                            </div>
                            <div class = "tag">
                                <p>{{ item.tag1 }}</p>
                                <p>{{ item.tag2 }}</p>
                                <p>{{ item.tag3 }}</p>
                            </div>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>