{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="urs.css">

<body>
    <h1><font color="red">{{ UserID }}</font>さんようこそ！！</h1>
    <div class = "title_url" style = "display: block;">
        <div class = "flex_url">
            <ul class="grid">
                <li class="page-list-item">
                    <div class = "title">
                        登録画面
                    </div>
                    <div class = "url">
                        <a href = "http://127.0.0.1:8000/register" rel="route" target="blank">http://127.0.0.1:8000/register</a>
                    </div>
                </li>
                <li class="page-list-item">
                    <div class = "title">
                        登録画面2
                    </div>
                    <div class = "url">
                        <a href = "https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover" rel="route" target="blank">
                            https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover
                        </a>
                    </div>
                </li>
                <li class="page-list-item">
                    <div class = "title">
                        登録画面2
                    </div>
                    <div class = "url">
                        <a href = "https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover" rel="route">
                            https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover
                        </a>
                    </div>
                </li>
                <li class="page-list-item">
                    <div class = "title">
                        登録画面2
                    </div>
                    <div class = "url">
                        <a href = "https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover" rel="route" >
                            https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover
                        </a>
                    </div>
                </li>
                <li class="page-list-item">
                    <div class = "title">
                        登録画面2
                    </div>
                    <div class = "url">
                        <a href = "https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover" rel="route">
                            https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover
                        </a>
                    </div>
                </li>
                <li class="page-list-item">
                    <div class = "title">
                        登録画面2
                    </div>
                    <div class = "url">
                        <a href = "https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover" rel="route">
                            https://www.bing.com/images/search?q=%e5%8f%af%e5%8b%95%e9%89%84%e7%89%87%e5%9e%8b&form=HDRSC3&first=1&tsc=ImageBasicHover
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>